<% content_for :title, t("helpers.navigation.show", model: Chat.model_name.human) %>

<div class="container mx-auto p-6"
  data-controller="components--clipboard helpers--flash"
  data-action="components--clipboard:copy->helpers--flash#flash">
  <h1 class="font-light text-4xl mb-4">
    <%= @chat.name %>
    <button
      data-clipboard-text="<%= @chat.name %>"
      data-action="components--clipboard#copy"
      class="float-left me-2 p-2.5 text-gray-500 cursor-pointer hover:text-gray-700 hover:bg-gray-100 rounded-full">
      <%= render partial: "shared/icons/icon_copy" %>
    </button>
  </h1>

  <%= render partial: "shared/placeholder" %>
</div>
